app-time-picker-modal {
  .toolbar-background-md,
  .toolbar-background-ios {
    background: indianred;
  }

  .dot {
    // border: 2px solid white;
    // border-radius: 50%; /* one half of ( (border * 2) + height + padding ) */
    // box-shadow: 1px 1px 1px black;
    // height: 30px; 
    // min-width: 30px;
    // padding: 4px 3px 0 3px;
    text-align: center;
    height: 32px;
    width: 32px;
    padding: 6px 3px 0 3px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
    box-shadow: 1px 1px 1px black;
  }
}
